.button {
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.tab-pane {
    -fx-tab-min-width: 100;
}

.section {
    -fx-font-family: Arial;
    -fx-font-size: 20px;
    -fx-text-fill: #428bcf;
}

.subsection {
    -fx-font-family: Arial;
    -fx-font-size: 17px;
    -fx-text-fill: #428bcf;
}


