.vbox {
    -fx-spacing: 40px;
}

.section {
    -fx-font-size: 20px;
    -fx-text-fill: #428bcf;
}

.subsection {
    -fx-font-size: 17px;
    -fx-text-fill: #428bcf;
}

#container {
    -fx-background-color: white;
    -fx-color: #428bcf;
    -fx-font-size: 14px;
}

.button {
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-text-fill: white;
    -fx-background-color: #428bcf;
}

.tab-pane {
    -fx-tab-min-width: 100;
}

.tab-label {
    -fx-text-fill: inherit;
}

.tab {
    -fx-background-color: #428bcf;
    -fx-text-fill: white;
}

.tab:selected {
     -fx-background-color: #83B2E0;
}

.tab:hover{
    -fx-text-fill: blue;
}

.column-header {
    -fx-text-fill: white;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
}
